page-info-slide {
    ion-content{
        background-image: linear-gradient(to bottom, #259fa6, #386ead); 
    }
    ion-slides{
        ion-slide{
            p{
                font-size: 1em;
                padding-top: 0px !important;
                padding-bottom: 30px !important;
            }
        }
    }
    .swiper-pagination {
        padding: 3px;
        bottom:0px;
        .swiper-pagination-bullet{
            background: white;
            margin: 0 3px;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            background: #259fa6;
            margin: 0 3px;
        }
    }
}
