page-confirm-reserva {
    ion-header {
        .toolbar-background {
            background: linear-gradient(to bottom, #259ea6, #386fad);
        }
    }
    h1{
        text-align: center;
    }
    .fotoEvento{
        border-radius: 20px;
    }
}
