<ion-header no-border no-shadow>
  <ion-navbar no-border no-shadow hideBackButton>
    <ion-row>
      <ion-col>
        <button style="background-color: transparent !important;border-radius: 0px !important; box-shadow: none !important;" ion-button navPop icon-only>
          <ion-icon name="appname-back"></ion-icon>
		    </button>
      </ion-col>
      <ion-col (click)="pageScroller()">
        <ion-title text-center>
          <img class="header" style="max-width: 40% !important;" src="../../assets/imgs/icono-er.svg">
        </ion-title>
      </ion-col>
      <ion-col (click)="editarPerfil()">
        <ion-buttons end>
          <img class="imgPerfil" style="max-width: 40% !important;" [src]="getTrustImg(imgSrc)">
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content #pageTop>
  <div class="header-image" (click)="pageScroller()">
    Eventos - {{nombreLocal}}
  </div>
  <ion-row *ngIf="mostrarmsj" justify-content-center>
    <h5 padding text-center text-wrap style="text-align: center;">No hay eventos agregados en este Local!</h5>
  </ion-row>
  <div *ngIf="eventos.length > 0">
    <ion-list *ngFor="let fechas of listaFechas">
      <ion-list-header text-center style="margin-bottom: 0px !important;">
        {{mostrarDia(fechas.fecha)}} {{dia(fechas.fecha)}}
      </ion-list-header>    
      <ion-item *ngFor="let evento of fechas.listaEventos" (click)=goToIntEvent(evento)>
        <ion-thumbnail item-start>
          <img class="list" src="{{url+evento.foto}}">
        </ion-thumbnail>
        <div>{{evento.nombre}}</div>
        <div class="item-description">
          <ion-icon name="time"></ion-icon>  {{evento.horadesde}} - {{evento.horahasta}}
        </div>
        <div *ngIf="!(evento.precio == 0)" class="item-description" style="margin-top: 5px;">
          <ion-icon name="cash"></ion-icon>  ${{evento.precio}}
        </div>
        <div *ngIf="(evento.precio == 0)" class="item-description" style="margin-top: 5px;">
          <ion-icon name="cash"></ion-icon>  Gratis!
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
